.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-card {
  display: flex;
  flex-grow: 1;
  flex-basis: 22%;
  padding: 2%;
  flex-direction: column;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 25%;
  }

}

@media (max-width: 800px) {
  .product-card {
    flex: 1 50%;
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 100%;
  }
}

.product-image {
  text-align: center;
}

.product-image img {
  max-width: 100%;
  
}

.product-info {
  margin-top: auto;
	padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 600px) {
  .product-info {
    justify-content: space-between;
  }
}

.product-info__item {
  align-self: center;
}

.product-info__price {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .product-info__price {
    font-size: 22px;
  }
}